[submodule "third-party/blake2"]
	path = third-party/blake2
	url = https://github.com/CREDITSCOM/blake2.git
[submodule "third-party/thrift"]
	path = third-party/thrift
	url = https://github.com/CREDITSCOM/thrift.git
[submodule "third-party/thrift-interface-definitions"]
	path = third-party/thrift-interface-definitions
	url = https://github.com/CREDITSCOM/thrift-interface-definitions.git
